body{
	margin:0;
	padding:0;
	font-size:14px;
	color:#919191;
	background-color:#232323;
	font-family:Arial, Hervetica, sans-serif;
}
h1,h2{
	margin:0 0 30px 0;
	font-size:1.8em;
	font-family:"CaviarDreamsBold", Arial, Hervetica,sans-serif;
}
#header{
	width: 980px;
	height: 50px;
	padding:40px 0;
	margin-left: auto;
	margin-right: auto;
}
#header hgroup{
	display:block;
	float:left;
	width:auto;
	clear:right;
}
#header hgroup h1, #header hgroup h2{
	margin:0;
	font-weight:normal;
	text-transform:none;
}
#header hgroup h1{
	font-size:2em;
}
#header h2{
	font-size:1em;
}
#header #header-contato{
	display:block;
	float:right;
	width: auto;
	clear:right;
}
#header #header-contato ul{
	margin-top:15px;
}
#header #header-contato li{
	display:inline;
	margin:0 0 0 15px;
	padding:0 0 0 15px;
	border-left:1px solid #COBAB6;
}
#header #header-contato li:first-child{
	margin:0;
	padding:0;
	border:none;
}
div#topo{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	text-align:left;
	word-wrap:break-word;
}
#topo, #topo a{
	color:#COBAB6;
	background-color:#333333;
}
a{
	color:#FF9900;
	outline:none;
}
i{
	vertical-align: middle;
}
/*------menu-----*/
nav ul{
	margin:0;
	padding:0;
	list-style:none;
	text-transform:uppercase;
	font-size:12px;
}
#topnav{
	width: 980px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	padding:0;
	color:#COBAB6;
	background-color:#232323;
}
#topnav li{
	position:relative;
	display:block;
	float:left;
	margin:0 30px 0 0;
	padding:0;
}
#topnav li a{
	display:#COBAB6;
	padding:20px 0;
}
#topnav a{
	color:#COBAB6;
	background-color:#232323;
	font-weight:bold;
}
#topnav li.active a, #topnav a:hover{
	color:#FF9900;
}
/*----footer----*/
div#linha3{-
	width: 100%;
	height: 500%;
}
div#linha3 #footer{
	width: 500px;
	height: 200px;
	margin-left: auto;
	margin-right:auto;
}
#footer_nav{
	width: 200px;
	margin: 10px;
	height: 400px;
	padding: 10px;
	float:left;
}
#footer.footer_title{
	font-size:1.2em;
	margin-bottom:40px;
	padding-bottom:10px;
	border-bottom:1px;
	solid:#919191;
}
#footer form label{
	display: block;
	width:100%;
	margin: 0 0 18px 0;
}
#footer form label input{
	width: 190px;
	margin-top:5px;
	height: 10px;
}
#footer form label input, #footer form textarea{
	color:#FFFFFF;
	background-color:#333333;
	border:1px solid #666666;
	border-radius: 5px;
	padding: 10px;
}
#footer form textarea{
	width: 190px;
	height: 120px;
	resize: 10px;
}
#footer_nav ul li{
	margin-top:12px;
	padding-top:12px;
	border-top:1px;
	solid: #333333;
}
#conteudo{
	width: 980px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
#conteudo figure{
	width: 980px;
	height: 500px;
	margin-top: 30px;
}
#conteudo figure img{
	width: 300px;
	float: left;
	margin-right: 30px;
}
#conteudo figure figcaption{
	width: 650px;
	float: left;
}
#conteudo figure figcaption h2{
	margin: 15px;
}
#conteudo figure figcaption p{
	text-align: justify;
	line-height: 25px;
}